html, body {
	height: 100%;
}

body {
	min-height: 100%;
	font-size: 14px;
	color:#333;
	background-color: #FFFFFF;
	letter-spacing: 1px;
	margin-bottom: 150px;
	clear: both;
}

.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation{
	z-index: 6;
}

.slides-navigation .prev, .slides-navigation .next{
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev{
	left:20px;
	background-image: url(../img/icons/back.png);
}

.slides-navigation a.next{
	right:20px;
	background-image: url(../img/icons/next.png);
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 64%;
	z-index: 5;
	text-align: center;
	margin-top: -270px;
}

.titleMessage .heading p{
	color: #FFFFFF;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
	font-weight: 100;
	letter-spacing: 6px;
	font-size: 50px;
}

.section {
	padding-top: 40px;
	padding-bottom: 120px;
}

#navigation {
	background-color: #7E685A;
	padding: inherit;
	z-index: 21;
	width: 100%;
}

#navigation li{
	padding:0 10px;
}

#navigation li a{
	color: #FFFFFF;
}

#navigation li a:hover{
	color: #33ff00;

}

.navbar-brand {
	display: inline-block;
	margin-right: 1rem;
	font-size: 1.25rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-brand,
.navbar-brand:hover {
	color: #d2dae2;
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
	color: #d2dae2;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader{
	width: 100%;
	height: 100%;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1233;
}

.loader .inner{
	width: 100%;
	height: 100%;
	background: url(../img/icons/loading.gif) center center no-repeat;
}

.h4, h4 {
	font-size: 2rem;
}

#hero{
	height: 500px;
	width: 100%;
}

#slides{
	inherit_height_from: '#hero',
	inherit_width_from: '#hero'
}

.copyright{
	background-color: #7E685A;
	color: #d2dae2;
	padding: 30px 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.copyright p{
	margin: 0;
}

#about > div > div{
	text-align: center;
}

.iconsParagraph{
	padding-top: 15px;
	padding-bottom: 15px;
}

#reviews .container{
	margin-top: 30px;
	margin-bottom: 30%;
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
	max-width: 1500px;
}

#contact .container{
	padding: 50px;
	max-width: 1200px;
}

#reviews{
	text-align: center;
}

#reviews > div > div > div > img{
	height: 100px;
}

#reviews h1{
	margin: 50px;
}

#services > div > h1{
	margin: 50px;
	text-align: center;
}

#services > div > h3 {
	margin: 50px;
	text-align: center;
}

#inv .container{
	margin-top: 15px;
	text-align: center;
}

.loginWrapper{
	margin: 80px;
}

.form-signin{
	max-width: 380px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 15px 40px 50px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 30px;
}

.form-signin input[type="email"], .form-signin input [type="password"]{
	margin-bottom: 20px;
	padding: 10px;
}

#snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
	visibility: visible;
}

#invSearchForm > button{
	width: 45%;
	margin: auto;
}

#invSearchForm{
	margin: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#updatePassModal > div > div > div.modal-body > div > form > h1{
	font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px){
	#invSearchForm > button{
		width: 25%;
		margin:10px;
	}

	#invSearchForm{
		margin: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 170px;
	}

	#invSearchForm > input{
		width: 50%;
	}
}

@media only screen and (min-width: 1440px){
	#invSearchForm{
		margin-left: 275px;
	}
}

@media only screen and (max-width: 575px){
	#reviews .container{
		height: auto;
	}

	#reviews h1{
		font-size: 2rem;
	}	

	#reviews h2{
		font-size: 1.5rem;
	}

	#services .container{
		padding-bottom: 50px;
	}

	.loginWrapper{
		padding-bottom: 112px;
	}

	#empProfile .container{
		padding-bottom: 255px;
	}

	.copyright{
		position: absolute;
		bottom: auto;
	}
}

@media only screen and (max-width: 950px) {
	body {
		margin-bottom: 0px;
	}
	
	#reviews .container{
		height: auto;
		padding-bottom: 57px;
	}

	#reviews h2{
		font-size: 1.5rem;
	}

	#services .container{
		padding-bottom: 115px;
		color:
	}

	#contact .container{
		padding-bottom: 244px;
	}

	.loginWrapper{
		padding-bottom: 345px;
	}

	#empProfile .container{
		padding-bottom: 488px;
	}

	.copyright{
		position: absolute;
		bottom: auto;
	}
}

@media screen and (orientation: landscape) and (max-width: 900px) {
	#reviews .container{
		height: auto;
	}

	#reviews h2{
		font-size: large;
	}

	#services .container, #empProfile .container{
		padding-bottom: 50px;
	}

	.copyright{
		position: absolute;
		bottom: auto;
	}
}

@media screen and (orientation: landscape) and (max-width: 1050px) {
	body {
		margin-bottom: 0px;
	}

	#reviews .container{
		height: auto;
	}

	#reviews h2{
		font-size: 1.5rem;
	}

	#services .container{
		padding-bottom: 50px;
	}

	.loginWrapper{
		padding-bottom: 89px;
	}

	#empProfile .container{
		padding-bottom: 232px;
	}

	.copyright{
		position: absolute;
		bottom: auto;
	}
}

@media only screen and (max-height: 950px) {
	#services .container, #contact .container {
		padding-bottom: 50px;
	}
}

@media only screen and (max-height: 760px) {
	#services .container, #contact .container{
		margin-bottom: 100px;
	}
}

.required-asterisk {
	color: red;
}

.modal-buttons .text-center {
	margin: 10px;
}

.search-invent {
	background-color: F5F5f5; 
	padding-bottom: 10px;
}

.search-invent .search-bar {
	width: 75%; 
	margin: auto; 
	text-align: center; 
	padding: 10px;
}

.table-buttons .text-left {
	margin-bottom: -10px;
}

.table-buttons .text-right {
	margin-bottom: -10px;
}

.quantity-form {
	width: 5em;
}

.table-clear-submit {
	margin-bottom: 30px;
}

.table-form-text {
	width: 10em;
}











